APP_NAME=Oil Market Intelligence API
ENV=dev

DATABASE_URL=sqlite:///./oilintel.db

EIA_API_KEY=your_eia_api_key_here

X_BEARER_TOKEN=your_x_bearer_token_here

QUANTHUB_BASE_URL=https://qh-api.corp.hertshtengroup.com

QUANTHUB_USERNAME=your_quanthub_username_here
QUANTHUB_PASSWORD=your_quanthub_password_here

# Optional. If you already generated tokens manually, you can paste them.
QUANTHUB_ACCESS_TOKEN=
QUANTHUB_REFRESH_TOKEN=

NEWS_API_KEY=
TEAMS_WEBHOOK_URL=

WTI_SYMBOL=WTI
BRENT_SYMBOL=BRENT

CFTC_PETROLEUM_FUTURES_URL=https://www.cftc.gov/dea/futures/petroleum_lf.htm
CFTC_PETROLEUM_OPTIONS_URL=https://www.cftc.gov/dea/options/petroleum_lof.htm
CFTC_DEFAULT_MODE=futures